<footer class="page-footer blue-grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l4 s2">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="index.jsp">Inicio</a></li>
                    <li><a class="grey-text text-lighten-3" href="insereCurriculo.jsp">Inserir Curriculo</a></li>
                    <li><a class="grey-text text-lighten-3" href="insereVaga.jsp">Inserir Vaga</a></li>
                    <li><a class="grey-text text-lighten-3" href="buscaVaga.jsp">Buscar Vaga</a></li>
                </ul>
            </div>
            <div class="col l4 s4">
                <br />
                <img src="img/unidavi.png" style="width: 300px;" />
            </div>
            <div class="col l4 s12">
                <br />
                <h5 class="white-text">Projeto em desenvolvimento.</h5>
                <p class="grey-text text-lighten-4">Desenvolvido por Universidade do Alto Vale do Itajaí - UNIDAVI</p>
                
            </div>
            
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright UNIDAVI
            <a class="grey-text text-lighten-4 right" href="http://www.unidavi.edu.br">UNIDAVI</a>
        </div>
    </div>
</footer>